@page
@using RatingApp.Domain.Entities
@model leaderboard_razor_app_pet_project.Pages.PlayersModel

@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-4">Find Players:</h1><br/>
    <form method="post">
        <p>
            <label>Filter</label><br/>
            <input name="nickname" type="text"/>
        </p>
        <button type="submit" asp-page-handler="Find">Find</button>
        <button type="submit" asp-page-handler="Reset">Reset</button>
    </form>
</div>

<br/><br/>
<div class="text-center">
    @foreach (PlayerEntity player in Model.FilteredPlayers)
    {
        @if (player.League == null)
        {
            <h3><a href="/Player/@player.Id">@player.Nickname</a> R: @player.Rating | L: ---</h3>
        }
        else
        {
            <h3><a href="/Player/@player.Id">@player.Nickname</a> R: @player.Rating | L: <a href="/League/@player.LeagueId">@player.League.Name</a>
            </h3>
        }
    }
</div>
